.header{
    height: 100px;
    margin: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
   top: 0;
   left: 0;
   width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

}
.logo{
    height: 80px;
    width: 250px;
    margin-left: 20px;
}
.cart-btn{
    background-color: rgb(3, 182, 3);
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 22px;
    margin: 30px;
    margin-right: 30px;
}
